<h1>Links#show</h1>
<table>
	<thead>
		<tr>
			<td>title</td>
			<td>url</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @link.title %></td>
			<td><%= @link.url %></td>
		</tr>
	</tbody>
</table>

<%= link_to 'back', root_path %>